[Unit]
Description=Receiver Service
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/weather_station/receiver.py /home/pi/weather_station
WorkingDirectory=/home/pi/weather_station
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
